.reset-container {
    position: relative;
    height: 100vh;
    width: 100%;
    background: #f4f6f9;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding-left: 5vw;
    font-family: "Roboto", sans-serif;
    z-index: 0;
  }

  .reset-form {
      width: 350px;
     padding: 30px;
     display: flex;
     flex-direction: column;
     margin-left: 10%;
   }

   @media (max-width: 960px) {
       .reset-container {
         flex-direction: column;
         justify-content: center;
         align-items: center;
         padding: 20px;
       }

       .reset-form {
         margin-left: 0;
         width: 90%;
         padding: 25px;
       }
     }
    
