@import url("https://fonts.googleapis.com/css2?family=Aladin&family=Dancing+Script:wght@500&family=Great+Vibes&family=Roboto+Condensed:ital@1&display=swap");

.App {
  text-align: center;
}

.bodycontent1 {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}
.carimage {
  max-width: 450px;
  width: 100%;
  height: auto;
}
.carinfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.centcont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

